Django<3.3
django-debug-toolbar
django-environ
django-extensions
django-ckeditor==6.0.0
Pillow
pytils
django-tagulous
django-versatileimagefield
django-widget-tweaks
django-extra-views
djangorestframework
djangorestframework-simplejwt
