{% extends "base.html" %}
{% load static %}
{% block content %}


  <div class="main-wrapper">

    <!-- start hero-header -->
    <div class="hero"
         style="background-image:url('{% static 'images/hero-header/01.jpg' %}');">
      <div class="container">
        <div class="row gap-0">

          <div class="col-md-10 col-md-offset-1">
            <div class="section-title-special">
              <h1>Найдите песню по любому слову!</h1>
              <p class="p-title">Если вы забыли название песни, просто наберите
                любые слова песни в поиске!</p>
            </div>
          </div>
          <form action="{% url 'songs-list-first' %}" method="GET">
{#                                        {% csrf_token %}#}
            <div class="col-md-8 col-md-offset-2">

              <div class="input-group-search-form-wrapper size-lg">

                <div class="input-group bg-change-focus-addclass">
                  <input id="search" type="text" class="form-control"
                         placeholder="Начните поиск прямо сейчас"
                         value="" name="search">
{#                  <input id="categ" type="text" value="" hidden name="categ">#}
{#                  <div class="input-group-btn dropdown-select">#}
{#                    <div class="dropdown dropdown-select">#}
{##}
{#                      <button class="btn dropdown-toggle" type="button"#}
{#                              id="mainSearchDropdown" data-toggle="dropdown"#}
{#                              aria-expanded="true">#}
{#                        Все#}
{#                        <span class="caret"></span>#}
{#                      </button>#}
{##}
{#                      <ul class="dropdown-menu" role="menu"#}
{#                          aria-labelledby="mainSearchDropdown">#}
{##}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                                                   href="javascript:void(0)"#}
{#                                                   data-value="{{ categ.id }}">Все</a>#}
{#                        </li>#}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                                                   href="javascript:void(0)"#}
{#                                                   data-value="{{ categ.id }}">Основные</a>#}
{#                        </li>#}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                                                   href="javascript:void(0)"#}
{#                                                   data-value="{{ categ.id }}">Рождественские</a>#}
{#                        </li>#}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                                                   href="javascript:void(0)"#}
{#                                                   data-value="{{ categ.id }}">Пасхальные</a>#}
{#                        </li>#}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                                                   href="javascript:void(0)"#}
{#                                                   data-value="{{ categ.id }}">Детские</a>#}
{#                        </li>#}
{##}
{#                      </ul>#}
{##}
{#                    </div>#}
{#                  </div><!-- /btn-group -->#}


                  <div class="input-group-btn hidden-xss">
                    <button class="btn btn-primary" type="submit"><i
                        class="fa fa-search"></i></button>
                  </div>

                </div><!-- /input-group -->

                <button class="btn btn-primary btn-block bt visible-xss">Поиск
                </button>

              </div>

            </div>

          </form>

        </div>

      </div>

    </div>
    <!-- end hero-header -->

    <div class="content-wrapper">

      <div class="section pb-50">

        <div class="container">

          <div class="row gap-">
            <div class="col-md-10 col-md-offset-1">

              <div class="section-title-special mb-30">
                <h2>Категории песен</h2>
              </div>

            </div>
          </div>

          <div class="row gap-0 mb-50">
            <div class="col-md-8 col-md-offset-2">

              <p class="text-center">Вы можете выбрать нужную Вам категорию
                песен! Это сделает поиск песен проще и понятней</p>

            </div>
          </div>

          <div class="row gap-20 mb-70">

            {% for categ in categs %}

              <div class="col-xss-12 col-xs-6 col-sm-6">
                <div class="category-image-bg"
                     style="background-image:url({{ categ.image.url }});">
                  <a href="{% url 'songs-list-first' %}?categ={{ categ.slug }}">
										<span class="text">
											{{ categ.title }}
										</span>
                  </a>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
