{% extends 'base.html' %}

{% block title %}Song's list{% endblock %}

{% block content %}
  <ul>
  {% for song in songs %}
    <li>
      <a href="{% url 'song-detail' song.id %}">{{ song.title }} || {{ song.title_eng }}</a>
      -> <a href="{% url 'song-update' song.id %}"><b>edit</b></a>
    {% if song.category.all %}Categ: <i>
      {% for categ in song.category.all %}
        {{ categ.name }}{% if song.category.all|length > forloop.counter %};{% endif %}
      {% endfor %}
      </i>
    {% endif %}
    </li>

  {% endfor %}
  </ul>
{% endblock %}